.cities {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  width: 94px;
  height: 110px;
}

.params {
  max-width: 200px;
  overflow: hidden;
}

.name {
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.condition {
  color: yellow;
}

.degree {
  font-size: 34px;
}

.degree,
.name {
  color: #fff;
  text-shadow: 0 0 5px #000;
}
