.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 10em 10em rgba(0, 0, 0, 0.4);
}

.main {
  height: 80vh;

  overflow: hidden;

  display: flex;
  justify-content: space-between;
}

/* Day bachgroungs */

.background.clear-day {
  background-image: url(../../assets/backgrounds/clear-day.jpg);
}
.background.small-clouds-day {
  background-image: url(../../assets/backgrounds/small-clouds-day.jpg);
}
.background.big-clouds-day {
  background-image: url(../../assets/backgrounds/big-clouds-day.jpg);
}
.background.thunderstorm-day {
  background-image: url(../../assets/backgrounds/thunderstorm-day.jpg);
}
.background.drizzle-day {
  background-image: url(../../assets/backgrounds/drizzle-day.jpg);
}
.background.rain-day {
  background-image: url(../../assets/backgrounds/rain-day.jpg);
}
.background.snow-day {
  background-image: url(../../assets/backgrounds/snow-day.jpg);
}
.background.mist-day {
  background-image: url(../../assets/backgrounds/mist-day.jpg);
}
.background.dust-day {
  background-image: url(../../assets/backgrounds/dust-day.jpg);
}
.background.squall-day {
  background-image: url(../../assets/backgrounds/squall-day.jpg);
}
.background.tornado-day {
  background-image: url(../../assets/backgrounds/tornado-day.jpg);
}

/*Night backgrounds*/

.background.clear-night {
  background-image: url(../../assets/backgrounds/clear-night.jpg);
}
.background.small-clouds-night {
  background-image: url(../../assets/backgrounds/small-clouds-night.jpg);
}
.background.big-clouds-night {
  background-image: url(../../assets/backgrounds/big-clouds-night.jpg);
}
.background.thunderstorm-night {
  background-image: url(../../assets/backgrounds/thunderstorm-night.jpg);
}
.background.drizzle-night {
  background-image: url(../../assets/backgrounds/drizzle-night.jpg);
}
.background.rain-night {
  background-image: url(../../assets/backgrounds/rain-night.jpg);
}
.background.snow-night {
  background-image: url(../../assets/backgrounds/snow-night.jpg);
}
.background.mist-night {
  background-image: url(../../assets/backgrounds/mist-night.jpg);
}

.main-info {
  padding: 30px 20px 100px 100px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar {
  width: 30vw;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  padding-left: 40px;
  color: #ccc;
}
