.main {
  /* background-image: url(../../../assets/backgrounds/surset-cloudy.jpg); */
  background-image: url(../../assets/backgrounds/surset-cloudy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;

  display: flex;
  justify-content: space-between;
}
.mainInfo {
  padding: 30px 20px 100px 100px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  font-weight: 600;
}

.sidebar {
  width: 30vw;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  padding-left: 40px;
  color: #ccc;
}
